#side
  .search
    %h3 Search
    = form_tag posts_path, :method => :get do
      = label_tag :search
      = text_field_tag :search, params[:search]
      = submit_tag "L", :name => nil
  
  .data
    %h3 Data
    %p
      Posts count: 
      = @posts.count if @posts

  .archive
    %h3 Archive
    %ul
      - for year in Post.publish_years
        %li
          = link_to(year, archive_path(year: year))
          %ul
            - for month in Post.publish_months_by_year(year)
              %li= month

