// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  color: #444;
  font: normal 100% Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  // font-weight: bold;
  font-family: georgia, serif;
  text-rendering: optimizeLegibility;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.15em; }
ul { font-size: 0.875em; }

a { 
  color: rgb(65, 80, 150);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#header {
  margin-top: 1em;
  // background: #fad;

  h1 {
    width: 13em;
    margin: 0 auto;
    font-size: 4em;
    // background: #daf;
    text-align: center;
    font-variant: small-caps;
    border-bottom: 3px solid;
    text-decoration: underline;
    font-family: georgia, serif;

    a {
      color: #444;
      text-decoration: none;
      font-family: georgia, serif;
      font-variant: small-caps;
      text-rendering: optimizeLegibility;
    }
  }
}

#page {
  min-height: 34em;
  margin: 1em auto 2em auto;
  max-width: 80em;
  position: relative;
  padding-bottom: 2em;
  box-shadow: 1px 3px 5px #ccc;

  h2 {
    font-size: 2em;
    line-height: 1.5;
    margin-top: 1em;
    padding: .3em 1.1em;
    margin-bottom: 1em;
    background: #ececec;
    border-bottom: 1px solid darken(#ececec, 5%);
  }
}

#posts {
  width: 66%;
  margin-left: 2em;
  padding: 1em;
  background: lighten(#cfbebf, 10%);
}

.post {
  float: left;
  width: 41%;
  margin: 1em .5em;
  padding: 1em;
  background: #cfbebf;
  border: 5px solid #5c3147;

  .title {
    color: #12080e;
    margin-bottom: .3em;
    text-rendering: optimizeLegibility;
  }

  .content {
    text-indent: 1em;
    line-height: 1.25;
    margin-bottom: 1em;
    font-size: 1.0681em;
    text-rendering: optimizeLegibility;
    font-family: 'WebFont', Arial, sans-serif;
    // font-family: times new roman, georgia, serif;
  }

  .meta {
    margin: 0 1em;
    text-align: right;
    font-size: .95em;

    .date a {
      font-style: italic;
      font-family: georgia, serif;
    }

    .date a:hover {
      text-decoration: underline;
    }
  }
}

#side {
  float: right;
  margin-right: 2em;
  padding: 0 2em 2em 2em;

  div {
    margin-bottom: 2em;
  }

  h3 { 
    font-style: italic;
    margin-bottom: .8em;
    border-bottom: 1px solid #999;
  }

  form {
    margin-bottom: 1em;

    label {
      display: none;
    }
    
    input[type=text] {
      padding: .3em .5em;
      font-size: .9em;
      font-family: lucida grande, sans-serif;
    }
    
    input[type=submit] {
      padding: .2em;
      position: relative;
      top: .1em;
      right: 1.8em;
      border: none;
      font-size: 1.6em;
      font-family: 'webdings';
      background: transparent;
    }
  }

  .archive {
  }

  .archive ul {
    margin-left: 1em;
    list-style: none;
    padding: 0 1em 1em 1em;

    li {
      // padding: 1em 0;
      font-family: georgia, serif;
    }

    li a {
      width: 6em;
      display: block;
      margin: .1em 0;
      padding: .3em .5em;
      font-family: georgia, serif;
    }
  }

  .archive ul li:hover ul {
    // display: block;
  }

  .archive ul li ul {
    display: none;
  }
}

