!!! 5
%html
  %head
    %title Etsi
    %meta{charset: "utf-8"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      %h1= link_to ("&asymp; Voluptuos Similarities &asymp;").html_safe, root_url
    #page
      %h2 Posts
      = render('shared/side')
      = yield
